* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    
    background-image: url('images/Bridge-HD-Wallpaper-34480.jpg');
    background-position: center;
}
body {
    background-color: rgba(0, 0, 0, 0.377);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto ;
    padding-top: 20px;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a{
    gap: 35px;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head span {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: white;
    color: black;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.icons img {
    width: 30px;
    height: 32px;
    background-color: rgb(165, 182, 224);
    padding: 5px;
    border-radius: 7px;
}
.head h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
header hr {
    color: white;
    margin: auto;
    width: 1200px;
    margin-top: 5px;
}
.section {
    margin-top: 250px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding-bottom: 255px;
}
.section h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 22px;
    font-size: 48px;
}
.section p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.btn {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.button {
    padding: 10px 20px;
    border:2px solid white;
    border-radius: 5px;
    font-weight: 500;
}
.first {
    background-color: white;
    color: black;
}
.second {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:2px solid white;
}
